
@{
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-animate-top" background="..\..\imgs\fundo.jpg">
    @using (Html.BeginForm("Contactar", "Home", FormMethod.Post))
    {
        <p class="w3-margin-top w3-center">
            <img style="width:40%" class="w3-center" src="..\..\imgs\logo.png" />
        </p>
        <div class="w3-container w3-margin-top w3-left">
            <fieldset class="w3-container w3-card-4 w3-round-xlarge w3-white">
                <div class="w3-half w3-left w3-margin-top">
                    <p class="w3-margin-top">
                        <img style="width:5.2%" class="w3-center" src="..\..\imgs\email1.png" /> clickgas@gmail.com
                    </p>
                    <p class="w3-margin-top">
                        <img style="width:5.5%" class="w3-center" src="..\..\imgs\telefone.png" /> +351913877033
                    </p>
                    <p class="w3-margin-top">
                        <img style="width:5%" class="w3-center" src="..\..\imgs\casa.png" /> Rua da Universidade, Braga, Braga 4710-057, <br>Portugal
                    </p>
                    <p>
                        <br>
                        <h6 class="w3-center w3-text-deep-orange"><b>CONTACTA-NOS</b></h6>
                    <p>E-mail:<input class="w3-input" type="text" name="email" required></p>
                    <p></p>
                    <br>
                    <p></p>

                    <p>Mensagem:<input class="w3-input" type="text" name="mensagem" required></p>
                    <br>
                    <p></p>
                    <p class="w3-center">
                        <input class="w3-button w3-section w3-deep-orange w3-round-xlarge w3-ripple" type="submit" value="Enviar" />
                    </p>
                </div>

                <div class="w3-half w3-right">
                    <br>
                    <br>
                    <br>
                    <br>
                    <iframe width="400" height="300" frameborder="1" src="https://www.bing.com/maps/embed?h=300&w=400&cp=41.56307~-8.39327&lvl=16&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
                </div>
            </fieldset>
        </div>
    }
</body>
</html>
