
@{
    Layout = "~/Views/Shared/LayoutInicial.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Catálogo</title>
    </head>
</head>
<body class="w3-animate-top" background="..\..\imgs\fundo.jpg">
    <h1 class="w3-text-deep-orange">CATÁLOGO DA EMPRESA</h1>
    <br>

    <fieldset class="w3-container w3-card-4 w3-round-xlarge w3-white">
        <h2><b>ENTREGA E SUBSTITUIÇÃO DAS SEGUINTES BOTIJAS DE GÁS</b></h2>

        <div class="botijas">
            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\propano45.png" />
                <h3><b>Propano 45kg</b></h3>
                <p>Produto indicado para uso doméstico, profissional ou industrial.</p>
            </div>

            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\propano11.png" />
                <h3><b>Propano 11kg</b></h3>
                <p>Produto indicado para uso industrial ou doméstico.</p>
            </div>

            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\propano5.png" />
                <h3><b>Propano 5kg</b></h3>
                <p>Produto indicado para uso profissional.</p>
            </div>
        </div>

        <div class="botijas">
            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\carburante11.png" />
                <h3><b>Carburante 11kg</b></h3>
                <p>Produto indicado para uso comercial.</p>
            </div>

            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\butano13.png" />
                <h3><b>Butano 13kg</b></h3>
                <p>Produto indicado para uso doméstico.</p>
            </div>

            <div class="botija">
                <img class="img-solicitar" src="..\..\imgs\butano6.png" />
                <h3><b>Butano 6kg</b></h3>
                <p>Produto indicado para uso doméstico e lazer.</p>
            </div>
        </div>
    </fieldset>

    <br>
    <br>

    <fieldset class="w3-container w3-card-4 w3-round-xlarge w3-white">
        <h2><b>MANUTENÇÃO DE EQUIPAMENTOS</b></h2>

        <ul>
            <li>Troca de mangueiras quando ultrapassam o prazo de validade de 5 anos ou ocorre uma quebra ou fuga.</li>
            <li>Troca de redutores quando estes entopem ou permitem uma passagem de gás superior à permitida.</li>
            <li>Substituição de válvulas de corte em caso de quebra.</li>
            <li>Substituição de tubos de metal em caso de quebra ou detioração.</li>
        </ul>
        <br>
    </fieldset>

    <br>
    <br>

    <fieldset class="w3-container w3-card-4 w3-round-xlarge w3-white">
        <h2><b>INSTALAÇÃO</b></h2>

        <ul>
            <li>Instalação do sistema de gás engarrafado, correspondente à montagem do posto de garrafas, instalação de tubagem em cobre e/ou mangueiras, ligação dos aparelhos de queima e colocação das válvulas de corte.</li>
            <li>Instalação de ligações metálicas flexíveis a aparelhos de queima.</li>
        </ul>
        <br>
    </fieldset>


</body>
</html>

