@model IEnumerable<click_gas.Models.Pedido>

@{
    Layout = "~/Views/Shared/LayoutFuncionario.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Serviços Pendentes</title>
</head>

<body>
    <h1 class="w3-text-deep-orange w3-margin-top">SERVIÇOS PENDENTES</h1>
    <br>
    <div>
        <table class="w3-centered w3-table w3-striped w3-border">
            <tr class="w3-deep-orange">
                <th>
                    Data
                </th>
                <th>
                    Hora
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Duração Estimada
                </th>
                <th>
                    Custo estimado
                </th>
                <th>

                </th>
            </tr>
            @using (Html.BeginForm("consultar", "Funcionario", FormMethod.Post))
            {
                foreach (var item in Model)
                {
                    <tr class="w3-hover-pale-red">
                        <td>
                            @item.data.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @{
                                click_gas.Models.Time h = new click_gas.Models.Time(item.hora);
                                var hora = h.GetTimeString();
                            }

                            @hora
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emailCliente)
                        </td>
                        <td>
                            @{
                                click_gas.Models.Time d = new click_gas.Models.Time(item.duracaoEstimada);
                                var duracao = d.GetTimeString();
                            }

                            @duracao
                        </td>
                        <td>
                            @item.custoEstimado €
                        </td>
                        <td>
                            <p class="w3-center">
                                <input type="hidden" name="idpedido" value=@item.id>
                                <input type="hidden" name="emailCliente" value=@item.emailCliente>
                                <input class="w3-button w3-deep-orange w3-round-xlarge w3-ripple w3-center" style="width:90%" type="submit" value="Consultar" />
                            </p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
